/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.invalid-feedback { font-size:11px !important; }

:root{--primary:#0093e8;--primary-light:#e7f6fd;--secondary:#6c757d;--white:#fff;--black:#212529;--gray:#6c757d;--gray-light:#ccc;--green:#198754;--success:#198754;--info:#0dcaf0;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--body-font:"Open Sans",sans-serif;--title-font:Manrope,Arial,Sans-serif; --bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg,#ffffff26,#fff0);--bs-body-font-family:var(--bs-font-sans-serif);--bs-body-font-size:1rem;--bs-body-font-weight:400;--bs-body-line-height:1.5;--bs-body-color:#212529;--bs-body-bg:#fff}

body{margin:0;font-family:var(--bs-body-font-family);font-size:var(--bs-body-font-size);font-weight:var(--bs-body-font-weight);line-height:var(--bs-body-line-height);color:var(--bs-body-color);text-align:var(--bs-body-text-align);-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:#0000}

body { font-size:14px; }
a { text-decoration: none;}
.form-control { font-size: 13px !important; border-radius: 4px !important;}
label { font-size: 11px !important; margin-bottom: 2px !important; text-transform: uppercase; color: #666;}
.btn { border-radius: 4px !important; }

.navbar-nav { margin-top: 10px; gap: 10px;}
.navbar { padding:0; margin: 0;}
.navbar .nav-link { padding:0;  text-transform: uppercase; color: var(--black); font-size: 13px; font-weight: bold; }
.navbar .nav-link:hover { color: var(--primary);}

header { position: fixed; top:0; left:0; width: 100%; z-index: 99; background-color: var(--white); box-shadow: 0 4px 6px 0 #0000001f; transform: translateY(0); animation: slideDown .4s ease;}
main { margin-top: 75px;}
.top-header { padding: 15px 0;}
.top-header .logo img { width: 100%;}

.dropdown-menu[data-bs-popper] { top:240%; left:10px; border-radius: 0 0 5px 5px; padding: 20px; width: 100%;}

.search-control { position: relative;}
.search-control .fa-search { position:absolute; top:13px; left:14px; color: var(--gray);}
.search-control .form-control { background-color: rgb(238, 238, 238); border-radius: 5px; padding:10px 5px 10px 38px; width: 100%; border: 1px transparent solid; }
.search-control .form-control:focus { background-color: var(--white); box-shadow: none; border-color: var(--gray-light);  }

.icon-controls { display: flex; gap: 10px; }
.icon-controls li { display: inline-block; text-align: center;  }
.icon-controls li a { color: var(--black); }
.icon-controls li a svg { display: block; }
.icon-controls li a span { width: 100%;}